/*通用设置*/
body {
    margin: 0;
    font-family: Helvetica Neue,Helvetica,Arial,Hiragino Sans GB,Hiragino Sans GB W3,Microsoft YaHei,sans-serif;
    font-size: 14px;
    line-height: 24px;
    color:#333;
    /*background: #fcfcfc;*/
}
@media screen and (min-width: 768px) and (max-width: 1200px){
    h2{
        font-size: 24px;
    }
}
@media screen and (max-width: 768px){
    body{
        font-size: 12px;
    }
    h2{
        font-size: 20px;
    }
}
ul{
    margin: 0;
    padding: 0;
}
ul,ol {
    list-style: none;
}
a{
    color: #333333;
}
/*首页index的页头部分*/
.bananer{
    height: 750px;
    background: url("../img/index/indexbananer.jpg") center center no-repeat;
    background-size:cover;
}
@media screen and (max-width: 768px){
    .bananer{
        height: 550px;
    }
    .bananerCenter .col-md-5{
        margin-top: 120px;
        text-align: center;
    }
}

/*导航条部分*/
div.navbar-default{
    width:100%;
    position: fixed;
    background-color: transparent;
    top: 0;
    font-size: 16px;
    left:0;
    border-radius: 0;
    z-index: 10;
    transition: all 1.5s;
    -moz-transition: all 1.5s;
    -webkit-transition: all 1.5s;
    -o-transition:all 1.5s;
}
.navbar.navbar-default div.container{
    width: 100%;
    box-sizing: border-box;
}
.navbar.navbar-default .navbar-header .momaLogo img{
    margin-top: -6px;
    width: 187px;
    height: 31px;

}
.navbar-collapse.collapse{
    box-sizing: border-box;
}
.navbar-right{
    box-sizing: border-box;
}
/*导航选项设置*/
.indexbananer #navbar ul li a{
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    padding: 6px 10px 5px 10px;
}

#navbar .indexNavbarfirst{
    width: 80px;
    height: 36px;
    margin-right: -10px;
}
.indexNavbarsecond{
    display: none;
    margin-top: -5px;
    transition: all 1.3s;
    -moz-transition: all 1.3s;
    -webkit-transition: all 1.3s;
    -o-transition:all 1.3s;
}
/*首页*/
.indexbananer .indexNavbarfirst:hover .indexNavbarsecond{
    display:block;
    background-color:transparent;
    opacity:1;
    color:#fff;
}
/*其他页面*/
.indexNavbarfirst:hover .indexNavbarsecond{
    display:block;
    background-color:#ffffff;
    opacity:1;
    color:#fff;
}


#navbar ul li a{
    font-size: 15px;
    font-weight: 500;
    color:#333333;
    padding: 6px 10px 5px 10px;
}
#navbar ul li{
    height: 36px;
    vertical-align: middle;
    text-align: center;
    margin-top: 8.5px;
    line-height: 36px;
    /*border: 1px solid red;*/
}
#navbar ul li.solutionN{
    margin-right: 11px;
}
#navbar ul li.navbarLi .indexNavbarsecond li a:hover,
.indexbananer #navbar ul li a:hover,
#navbar ul li.navbarLi a{
    color:  #378FE5;
}
.navbarLi{
    color: #ffffff;
    border-radius: 4px;
    background: transparent;
    padding: 0;
}

/*二级导航条的设置*/
#navbar ul li.navbarLi .indexNavbarsecond li a{
    color: #333333;
}
#navbar ul li.navbarLi:hover .indexNavbarsecond{
    background: #ffffff;
    opacity: 1;
}
#navbar ul li a:hover{
  color: #378FE5;
}
/*导航条的按钮设置*/
#navbar .navbar-nav.navbar-right a.btn{
    width: 80px;
    margin-left: 0;
    padding: 5.7px 4px 5px 4px;
    border: 1px solid #378FE5;
    box-sizing: border-box;
}
#navbar .navbar-nav.navbar-right .navbar-rgsbtn{
    background: #378FE5;
    color: #ffffff;
    font-size: 14px;
    margin-right: 17px;
    border-radius: 3px;
}
.indexbananer #navbar .navbar-nav.navbar-right .landbtn{
    color: #ffffff;
}
#navbar .navbar-nav.navbar-right a.landbtn{
    color:#378FE5;
    font-size: 14px;
    width: 60px;
    border-radius: 3px;
}
#navbar .navbar-nav.navbar-right .landbtn:hover{
    color:#fff;
    background: #197AD8;
    border-color:#197AD8;
}
@media screen and (max-width: 767px){
    #navbar .indexNavbarfirst{
        padding: 0px;
        margin: 10px auto;
    }
    #navbar .indexNavbarfirst a{
        line-height: 36px;
    }
    #navbar ul li.solutionN{
        margin-right: 0px;
    }
    .liRg{
        width: 80px;
        margin:15px auto;
    }
    #navbar .indexNavbarfirst:hover .indexNavbarsecond{
        display:none;
    }
    .navbar-collapse.collapse.in{
        background: #ffffff;
    }
    .indexbananer #navbar ul li a{
        color: #333;
    }
    .indexbananer #navbar .navbar-nav.navbar-right .landbtn{
        color: #378FE5;
    }
}
.momaCenter a:hover,
div.bananerCenter a.btn:hover,
#navbar .navbar-nav.navbar-right .navbar-rgsbtn:hover{
    background:  #197AD8;
    border-color: #197AD8;
    color: #ffffff;
}
/*bananer大图部分*/
.bananerCenter{
    margin-top: 200px;
}
@media screen and (max-width: 768px){
    .bananer{
        height: 600px;
    }
    .bananerCenter{
        margin-top: 25%;
    }
    div.bananerCenter h3{
        padding-left: 40%;
        margin-bottom: 10px;
    }
    div.bananerCenter h2{
        text-align: center;
    }
    div.bananerCenter h3{
        font-size: 16px;
    }
    div.bananerCenter .col-md-5{
        margin-bottom: 15px;
    }
}
@media screen and (min-width: 550px) and (max-width: 992px){
    div.bananerCenter .col-md-5{
        margin-bottom: 15px;
    }
}
div.bananerCenter h2{
    color: #F2F2F2;
    font-size: 38px;
    margin-bottom: 30px;
}

@media screen and (max-width: 768px){
    div.bananerCenter h2{
        font-size: 26px;
    }
}
div.bananerCenter span{
    font-weight: 500;
    font-size: 18px;
    color: #F2F2F2;
    line-height: 40px;
}
/*bananer图片上的按钮格式*/
div.bananerCenter a.btn{
    width: 186px;
    padding: 14px;
    font-size: 16px;
    border: 1px solid #197AD8;
    margin-top: 15px;
    box-sizing: border-box;
    color: #ffffff;
    background-color:transparent;
    border-radius: 3px;
}

/*中间的第一部分*/
.momaCenter{
    height:650px;
    background-color: #FEFEFE;
    box-sizing: border-box;
    padding:5% 0;
}

.momaCenter img{
    width:80px;
    height: 80px;
}
.momaCenter h2{
    margin-bottom: 8%;
}
.momaCenter p{
    line-height: 28px;
}
/*首页中间的按钮*/
.momaCenter a{
    width: 186px;
    padding: 15px 4px;
    border: 1px solid #197AD8;
    box-sizing: border-box;
    color: #197AD8;
    border-radius: 3px;
    margin-top: 8%;
}
.momaCenter h4{
    margin:10% 0;
}
/*第三部分和第四部分*/
.indexThird{
    height: 700px;
    background-color: #F6F4F7;
}
.moma_third{
    margin-top: 8%;
}
.moma_third h2{
    margin-bottom: 8%;
}
@media screen and (max-width: 650px){
    .momaCenter h2,
    .moma_third h2{
        font-size: 15px;
    }
    .moma_third img{
        margin-bottom: 15px;
    }
    .momaCenter p{
        text-align: left;
    }
}
/*首页中间的第二部分按钮设置*/
.moma_third a{
    width: 186px;
    padding: 15px 4px;
    border: 1px solid #197AD8;
    box-sizing: border-box;
    background-color: #ffffff;
    color: #197AD8;
    border-radius: 3px;
    margin-top:  10%;
}
.moma_third a:hover{
    color: #ffffff;
    background-color: #197AD8;
}
.moma_third span {
    line-height: 28px;
    font-weight: 500;
    color: #5A5555;
}
.indexFourthP{
    color:#777777 ;
}
@media screen and (min-width: 435px) and (max-width: 992px) {
    .moma_third img{
        width: 50%;
        height: 70%;
    }
}
/*footer*/
.pricefooter .text-center,
.footer .text-center{
    height: 300px;
    background-color:#f2f2f2;
    padding:5%;
}
/*页面底部的按钮按钮格式*/
.pricefooter .text-center a.btn,
.footer .text-center a.btn{
    font-size: 16px;
    width: 186px;
    padding:15px 16px;
    border: none;
    border-radius: 3px;
    background-color:#378FE5;
}
.footer .text-center a.btn:hover{
    background-color: #197AD8;
}
@media screen and (max-width: 920px){
    .pricefooter .text-center,
    .footer .text-center{
        height: 200px;
        box-sizing: border-box;
    }
}
.pricefooter .text-center h2,
.footer .text-center h2{
    margin-bottom:3%;
    font-size: 22px;
}
@media screen and (max-width: 500px){
    .pricefooter .text-center h2,
    .footer .text-center h2{
        margin-bottom:4%;
        font-size: 16px;
    }
}
.pricefooter .container p,
.footer .container p{
    color: #B5A9B5;
}
/*底部第二部分*/
.footer .link{
    background-color: #333333;
}

.footer .link div.container{
    padding: 26px 0 ;
}
/*友情链接设置*/
.friendLink{
    margin-left: 8.33333333%;
    margin-right:8.33333333%;
    margin-bottom: 20px;
    padding: 10px 0;
    border-bottom: 1px dashed #9d9d9d;
}

@media screen and (max-width: 992px){
    .friendLink{
      display: none;
    }
}
.footer .friendLink ul{
    margin-bottom: 0px;
}
.footer .friendLink ul li{
    float: left;
    margin-bottom: 8px;
    margin-right: 13px;
}
/*其他部分*/
.footer .link .container .dropdown button{
    border-color: #A6A6A6;
    width: 100px;
    border-radius: 3px;
    background-color: #333333;
}
.footer .link .container .dropdown button span,
.footer .link .container .dropdown button a{
    color:#9B9B9B;
}
.pricefooter h4,
.footer h4{
    color:#D6D6D6;
    margin-bottom: 18px;
}
.footer .link .container p{
    color:#9B9B9B;
}
.pricefooter .address,
.footer .address{
    margin-bottom: 10px;
}
.pricefooter ul,
.pricefooter ul li,
.footer ul,
.footer ul li{
    list-style: none;
    padding:0;
    margin: 0;
    color:#9B9B9B;
    margin-bottom: 4%;
}
.pricefooter.footer>.text-center{
    display: none;
}

.pricefooter ul li a,
.footer ul li a{
    color:#9B9B9B;
}

.pricefooter ul li a:hover,
.footer ul li:hover,
.footer ul li a:hover{
    color: #03A9F4;
    cursor: pointer;
    text-decoration: underline;
}
/*底部最后部分*/
.momaLast{
    height: 60px;
    background-color:#000000;
    line-height: 60px;
    box-sizing: border-box;
}
.momaLast span{
    font-size: 14px;
    color: #9B9B9B;
}
.momaLast .col-md-3{
    box-sizing: border-box;
    padding-left: 70px;
}

@media screen and (min-width: 992px) and (max-width: 1200px){
    .momaLast .col-md-3{
        box-sizing: border-box;
        padding-left: 0;
    }
}

@media screen and (max-width: 410px){
    .momaLast span{
        font-size: 10.5px;
    }
}
.momaLast img{
    width: 96px;
    height: 34px;
    margin-left: 2%;
}
/******************************************************************************/
/***********************产品页面*************************************************/
/*第一部分*/
.productBananer{
    height: 750px;
    background:url("../img/product/productbananer.jpg")center center;
    background-size: cover;
}
@media screen and (max-width: 991px){
    .productBananer{
        height: 600px;
    }
}
.productBananer .productBananerCenter{
    width: 65%;
    margin: 0 auto;
    margin-bottom: 5%;
}
.productBananerCenter p{
   margin-top:10%;
   margin-bottom: 5%;
    font-size: 18px;
    color: #F2F2F2;
    line-height: 28px;
}
.productBananerCenter p,
.productBananerCenter span{
    font-weight: 500;
}
/*第二部分*/
/*导航部分*/
.productSectionfirst{
    background-color: #f2f2f2;
    height: 100px;
    line-height: 100px;
    /*margin-top: 15px;*/
}
.productSectionfirst .list-unstyled li{
    width: 12%;
    padding: 0;
    text-align: center;
    font-size: 16px;
    margin-left:-3.5px;
    font-weight: 500;
    box-sizing: border-box;
    border-right: 1px solid #CCCCCC;
}

.productSectionSencond2 h2,
.productSectionSencond h2{
   margin-bottom: 18%;
}
.productSectionSencond p{
    line-height: 28px;
}

@media screen and (max-width: 768px) {
    .productSectionSencond2 h2,
    .productSectionSencond h2{
        margin-bottom: 5%;
    }
    .productSectionfirst{
        height: 65px;
        line-height: 65px;
    }
}
@media screen and (max-width: 568px){
    .productSectionfirst{
        height: 45px;
        line-height: 45px;
    }
    .productSectionSencond2 h2,
    .productSectionSencond h2{
        font-size: 14px;
        font-weight: 600;
    }
    .productSectionfirst .list-unstyled li{
        width: 12%;
        padding: 0;
        margin-left:-3px;
        font-weight: 500;
        font-size: 12px;
        border-right: 1px solid #CCCCCC;
    }
}
.productSectionfirst .list-unstyled li:hover{
    color: #03A9F4;
    cursor: pointer;
}
.productSectionfirst li:last-child{
    border: none;
}
/*动态变化位置*/
.productSectionSencond{
    padding: 5% 0;
    border-bottom: 1px solid #CCCCCC;
}
.productSectionSencond2{
    padding: 5% 0;
}
.productSeclct{
    display: none;
}
.productShow{
    display: block;
}
.productLi{
    background-color: #ffffff;
    color: #03A9F4;
}

/***********************************************************************************/
/*price页面*/
.priceBananer{
    height: 750px;
    background:url("../img/price/pricebananer.jpg")center center;
    background-size:cover;
}
.priceBananer .productBananerCenter{
    width: 65%;
    margin: 0 auto;
}
.priceBananer .productBananerCenter p,
.priceBananer .productBananerCenter span,
.priceBananer .productBananerCenter h2{
    color: #f2f2f2;
}

@media screen and (max-width: 768px){
    .priceBananer .bananerCenter{
        margin-top: 120px;
    }
}
/*第二部分*/
.priceSecond{
    padding:  5% 0 ;
    background-color: #FBFBFC;
}
.priceSecond .item-container{
    border: 1px solid #CCCCCC;
}
.priceSecond .col-xs-4{
    margin-bottom: 15px;
}
.item-title{
    border-bottom:1px solid #CCCCCC ;
    background-color:#f2f2f2 ;
    padding: 10px;
    box-sizing: border-box;
}
.item-price{
    border-bottom:1px solid #CCCCCC ;
    padding: 20px;
    padding-top: 35px;
    box-sizing: border-box;
}
.item-price b{
    font-size: 25px;
    margin-left: -50px;
    display: block;
    font-weight: 400;
}
.item-price p{
    margin:0;
    margin-right: -50px;
    display: inline-block;
    font-size: 30px;
}
.item-price h2{
    margin-top: 0;
}
.item-price span{
    font-size: 14px;
    color: #9E9E9E;
}
.item-price a{
    width: 65%;
    display: block;
    border: none;
    border-radius: 3px;
    padding: 13px;
    margin: 10% auto;
    font-size: 16px;
}
@media screen and (max-width: 400px){
    .item-price a{
       font-size: 14px;
    }
}
.item-list{
    height: 250px;
    padding-top: 5%;
    padding-left: 35%;
}
/***********************************************************/
/*开源页面*/
.openSecond{
    height: 500px;
    margin-top: 20px;
}
.openSecond .container{
    padding-top: 170px;
    padding-left: 500px;
    /*margin-bottom: 50px;*/
    height: 500px;
    background: url("../img/open/open.png")no-repeat;
}
.openSecond .container form{
    width:100%;
    height: 300px;
}
.openSecond .container form>input{
    width: 80%;
    margin-bottom: 15px;
    height: 42px;
    padding-left: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
}
.openSecond .container form input::-webkit-input-placeholder { /* WebKit browsers */
    font-size:14px;
    color:#999999;
}
.openSecond .container form input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size:14px;
    color:#999999;
}
.openSecond .container form input::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size:14px;
    color:#999999;
}
.openSecond .container form input:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-size:14px;
    color:#999999;
}
.openSecond .container form .openContact{
    padding-left: 42px;
    background: url("../img/open/user.png") no-repeat;
}
.openSecond .container form .openPhone{
    padding-left: 42px;
    background: url("../img/open/phone4.png") no-repeat;
}
.openInput{
    width: 50%;
    /*margin-right: 10px;*/
    /*margin-bottom: 10px;*/
    height: 42px;
    padding-left: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
}

.discodeInput{
    width: 30%;
    height: 42px;
    margin-right: 10px;
    padding-left: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
}

#discode{
    display: none;
    vertical-align: middle;
    margin-bottom: 0px;
    border: 1px solid #9d9d9d;
    border-radius: 4px;
    width: 100px;
    height: 42px;
    line-height: 42px;
    margin-right: 15px;
    text-align: center;
    background-color: #00ffee;
}
.openSecond .container form>div>div{
    display: inline-block;
    width: 25%;
}
.openSecond .container form>div>div img{
    width: 100%;
    height: 43px;
}
#errorSpan{
    display: inline-block;
    margin-left: 120px;
    margin-top: 10px;
    margin-bottom: 12px;
}

.openSecond .container form .agreenment{
    margin-top: -5px;
}
.openSecond .container form .agreenment div{
    width: 100%;
    height: 30px;
    line-height: 30px;
}
.openSecond .container form .agreenment div input{
    vertical-align: middle;
    margin-top: -1.8px;
}
.openSecond .container form>div .btn{
    width:18%;
    height: 43px;
    line-height: 43px;
    font-size: 14px;
    padding: 0;
    background-color: transparent;
    color: #999999;
    border: none;
}
.openSecond .container form>div .btn:hover{
    border-color: #03A9F4;
    color:#03A9F4;
    border: none;
}
.openSecond .container form .discode{
    margin-bottom: 15px;
}
.openSecond .container form .jszc2{
    width: 80%;
    height: 45px;
    display: block;
    /*padding-left: 160px;*/
    margin: 20px 0;
}
.openSecond .container form .jszc2 a.btn{
    width: 80%;
    height: 48px;
    line-height: 48px;
    border-radius: 5px;
    background-color: #378FE5;
    font-size: 15px;
    color: #ffffff;
    padding: 0;
    /*margin: 60px 0;*/
}
.openSecond .container form .jszc2 a.btn:hover{
    background-color: #197AD8;
}
/*第三部分*/
.openThird{
    margin-top: 30px;
    margin-bottom: 15px;
}
.openThird .container .row .col-xs-12 .jszc1{
    border: 1px solid #CCCCCC;
    overflow-y: auto;
    height: 260px;
    padding: 15px;
    margin-bottom: 15px;
}
.openThird .container .row .col-xs-12 .jszc1 h4{
    color: #333;
    font-size: 20px;
}
.openThird .container .row .col-xs-12 .jszc1 a{
    color: #333;
}
.openThird .container .row .col-xs-12 span {
    color: #333;
    font-size: 16px;
}
@media screen and (max-width: 992px){
    .openSecond {
        margin-top:100px;
        height: 300px;
    }
    .openSecond .container{
        padding:0;
        height:300px;
        background-image: none;
    }
    .openSecond .container form{
        margin-left: 10px;
        width: 90%;
        height: 300px;
    }
    .openSecond .container form .jszc2 a.btn {
        width: 100%;
    }
    .openSecond .container form input::-webkit-input-placeholder { /* WebKit browsers */
        font-size:12px;
    }
    .openSecond .container form input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        font-size:12px;
    }
    .openSecond .container form input::-moz-placeholder { /* Mozilla Firefox 19+ */
        font-size:12px;
    }
    .openSecond .container form input:-ms-input-placeholder { /* Internet Explorer 10+ */
        font-size:12px;
    }
    .openSecond .container form>input{
        width: 100%;
    }
    .openThird{
        margin-top: 70px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 520px){
    .openInput{
        width: 50%;
    }
    .openSecond .container form>div>div{
        display: inline-block;
        width: 32%;
    }
    .discodeInput{
        width: 40%;
        padding-left: 2px;
    }
    .openSecond .container form>div a.btn{
        width:32%;
        font-size: 12px;
    }
}
/*.openThird .container{*/
    /*border-bottom: 1px dashed #C4BCBC;*/
/*}*/
.openThird .container .jszc{
    padding-left: 25px;
    background: url("../img/open/jszc.png") no-repeat;
    margin-bottom: 15px;
    font-size: 14px;
}
.jszc b{
    color:  #333;
}
.fsize14{
    color: #333;
    font-size: 14px;
    line-height: 34px;
}
.fsize18{
    color: #333;
    font-size: 13px;
    font-weight:600;
}

@media screen and (max-width: 520px){
    .openThird .container .row .col-xs-12 .jszc1 h4{
        font-size: 16px;
    }
    .fsize14{
        font-size: 12px;
        line-height: 28px;
    }
    .openThird .container .row .col-xs-12 span {
        font-size: 14px;
    }
}
/*****************************************************************/
/*support支持页面*/

.supportBananer{
    height:750px;
    background:url("../img/support/supportbananer.jpg")center center;
    background-size: cover;
}

@media screen and (max-width: 991px){
    .supportBananer{
        height:550px;
    }
}
@media screen and (max-width:600px) {
    .supportSearch {
        padding-top: 140px;
    }
}
/*搜索设置*/
.supportSearch {
    box-sizing: border-box;
    margin-top: 20%;
}
@media screen and (max-width: 768px){
    .supportSearch {
        margin-top: 35%;
    }
}

.supportSearch .productBananerCenter p{
    margin-top: 5%;
}
/*@media screen and (max-width: 1024px) {*/
    /*.supportSearch {*/
        /*margin-top:300px;*/
    /*}*/
/*}*/

.supportSearch input{
    font-size: 15px;
}
.supportSearch button.btn{
    font-size: 15px;
    background-color: #03A9F4;
}
.supportSearch button.btn:hover{
    background-color: #66CCFF;
}
.supportSearch ::-webkit-input-placeholder { /* WebKit browsers */
    font-size:15px;
}
.supportSearch :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size:15px;
}
.supportSearch ::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size:15px;
}
.supportSearch :-ms-input-placeholder { /* Internet Explorer 10+ */
    font-size:15px;
}
/*第二部分*/
.supportSecond{
    background-color: #F0F1F3;
    padding:3% 0;
}
.supportThird a.btn{
    width: 170px;
    padding: 9px 4px;
    border: 1px solid #03A9F4;
    margin-top: 15px;
    box-sizing: border-box;
    color: #ffffff;
    background-color:#03A9F4 ;
    margin-bottom: 20px;
}

/*d第三部分和第二部分的图列表*/
/*浮动实验*/
.supportThird  div.container,
.supportSecond div.container{
    padding: 30px;
}
.supportSecond div.container div.clear{
    width: 1029px;
    height: 300px;
    margin: 0 auto;
}
.supportThird div.container div.clear{
    width: 1029px;
    height: 480px;
    margin: 0 auto;
}
.supportSecond div.container div.clear div{
    float: left;
    width:303px;
    height: 200px;
    background-color: #ffffff;
    margin: 20px;
    border: 3px solid #E8E8E8;
    border-radius: 8px;
    padding: 20px;
}
.supportSecond div.container div.clear div img{
    height: 100px;
    width: 100px;
    margin-bottom: 10px;

}
.supportSecond div.container div.clear div:hover{
    box-sizing: border-box;
    -webkit-box-shadow:inset 0 0 15px #E8E8E8;
    -moz-box-shadow:inset 0 0 15px #E8E8E8;
    -o-box-shadow:inset 0 0 15px #E8E8E8;
    -ms-box-shadow:inset 0 0 15px #E8E8E8;
    box-shadow:inset 0 0 15px #E8E8E8;
}
.supportThird div.container div.clear div {
    background: #f2f2f2;
    float: left;
    width: 303px;
    height: 180px;
    padding:0;
    margin: 20px;
}
@media screen and (min-width: 992px) and (max-width: 1201px) {
    .supportSecond div.container div.clear{
        width: 850px;
        height: 350px;
        margin-bottom: 30px;
    }
    .supportThird div.container div.clear{
        width: 850px;
        height: 450px;
        margin-bottom: 30px;
    }
    .supportSecond div.container div.clear div{
        float: left;
        width:260px;
        height: 200px;
        margin: 20px 10px;
    }
    .supportThird div.container div.clear div{
        float: left;
        width:260px;
        height: 180px;
        padding: 0;
        margin: 20px 10px;
    }
}
@media screen and (min-width: 768px) and (max-width:991px) {
    .supportSecond div.container div.clear{
        width: 670px;
        height: 350px;
    }
    .supportThird div.container div.clear{
        width: 670px;
        height: 450px;
        margin-bottom: 30px;
    }
    .supportSecond div.container div.clear div{
        float: left;
        width:202px;
        height: 220px;
        margin: 10px;
    }
    .supportThird div.container div.clear div{
        float: left;
        width:202px;
        height: 180px;
        padding: 0;
        margin:20px  10px;
    }
}
@media screen and (max-width:767px) {
    .supportSecond div.container div.clear{
        width: 450px;
        height: 350px;
    }
    .supportThird div.container div.clear{
        width: 450px;
        height:700px;
    }
    .supportSecond div.container div.clear div{
        float: left;
        width:200px;
        height: 220px;
        margin: 10px;
    }
    .supportThird div.container div.clear div{
        float: left;
        width:200px;
        height: 180px;
        padding: 0;
        margin:20px 10px;
    }
}
@media screen and (max-width:549px) {
    .supportSecond div.container{
        padding: 0;
    }
    .supportSecond div.container div.clear{
        width: 300px;
        height: 380px;
    }
    .supportThird div.container div.clear{
        width: 300px;
        height: 700px;
    }
    .supportSecond div.container div.clear div{
        float: left;
        width:140px;
        height: 220px;
        margin: 5px;
    }
    /*.supportSecond div.container div.clear div img{*/
        /*height: 53%;*/
    /*}*/
    .supportThird div.container div.clear div{
        float: left;
        width:130px;
        height: 180px;
        padding: 0;
        margin:20px 10px;
    }
    .supportSearch .input-group-lg input{
        padding: 0;
        font-size: 12px;
    }
}
@media screen and (max-width:400px){
    .supportThird div.container div.clear div.supportVideo{
        display: none;
    }
    .supportThird div.container div.clear{
        width: 270px;
        height: 700px;
    }
    .supportThird div.container div.clear div{
        float: left;
        width:260px;
        height: 180px;
        padding: 0;
        margin-bottom:20px;
    }
    .supportThird  div.container{
        padding: 0;
        margin-bottom: 15px;
    }
}
/*第三部分 基本设置*/
 #support.supportThird{
     background-color: #FBFBFC;
}
.supportThird p{
    background-color: #39AC6A;
    color: #ffffff;
    margin: 0;
}
.supportThird video{
    margin: 0;
}
#support .btn{
    width: 186px;
    padding: 12px 4px;
    border: 1px solid #03A9F4;
    margin-top: 15px;
    box-sizing: border-box;
    color: #ffffff;
    background-color:#03A9F4 ;
    margin-bottom: 20px;
}
#support .btn:hover{
    background-color: #66CCFF;
}
/*第四部分*/

.supportFouth{
    background: #f2f2f2;
    padding: 5% 0;
}
.supportFouth div.col-xs-8{
    padding: 0;
    border: 3px solid #E8E8E8;
    border-radius: 5px;
}
.supportFouth div.col-xs-8 img{
    margin: 0 auto;
    /*height: 80%;*/
    width: 100%;
}
.supportFouth .col-md-offset-1{
    margin-right: 15px;
}
.supportFouth div.col-xs-8 div{
    padding: 10px;
    background: #ffffff;
}

@media screen and (max-width: 768px){
    .supportFouth .col-md-offset-1{
        margin-bottom: 15px;
    }
}
/*第五部分*/
.supportFive{
    padding: 35px 0;
}
.supportFive .container.text-center h2{
    font-size: 26px;
    margin-bottom: 20px;
}
.supportFive .container.text-center h4{
    font-size: 26px;
    margin-bottom: 30px;
}
.supportFive span{
    font-size:26px;
}
.supportFive .container.text-center div.row .col-xs-12 div{
    padding: 20px;
}
.supportph{
    border-bottom: 1px solid #DCDCDC;
}

@media screen and (max-width: 400px){
    .supportFive .container.text-center h2,
    .supportFive .container.text-center h4,
    .supportFive span{
        font-size: 20px;
    }

}
/*.supportFive .col-xs-5{*/
    /*/!*border: 3px solid #E8E8E8;*!/*/
    /*border-radius: 8px;*/
    /*/!*width: 45%;*!/*/
    /*padding: 0;*/
    /*/!*margin-left: 10px;*!/*/
/*}*/
/*.supportFive .col-md-offset-0{*/
    /*margin-left: 15px;*/
/*}*/

@media screen and (min-width: 768px) and (max-width: 991px){
    .supportFive .row .col-md-offset-0{
        margin-left:124px;
    }

}
@media screen and (max-width: 400px){
    .supportFive .col-xs-5{
        border: 3px solid #E8E8E8;
        border-radius: 8px;
        width: 45%;
        padding: 0;
        margin-left: 10px;
    }
    .supportFive .col-md-offset-0{
        margin-left: 10px;
    }
}
.supportFive .col-xs-4 img{
    margin: 0;
}


/**************************************************************************/
/*solution解决方案页面*/
.solutionBananer{
    height: 750px;
    background:url("../img/solution/solutionbananer.jpg")center center no-repeat;
    background-size: cover;
}
.solutionBananer .solutionBananerCenter h2{
    color: #f2f2f2;
    margin-bottom: 35px;
}
.solutionBananer p{
    line-height: 28px;
    font-size: 18px;
    color: #f2f2f2;
}
.solutionBananerCenter{
    width: 65%;
    margin: 0 auto;
    margin-bottom: 4%;
}
@media screen and (max-width: 767px){
    .solutionBananer .container.bananerCenter{
        margin-top: 180px;
    }
}
@media screen and (min-width: 768px) and (max-width: 990px){
    .solutionBananerCenter{
        margin-bottom: 6%;
    }
}

/*第二部分*/
.solutionSecond{
    padding: 30px 0;
    background-color: #F0F1F3;
}
.clear:before{
    content: "";
    display: table;
}
.clear:after{
    content: "";
    display: table;
    clear: both;
}

.solutionSecond  .solution-way {
    width: 30%;
    height: 220px;
    cursor:pointer;
    position:relative;
    float: left;
    box-sizing: border-box;
    margin:30px 10px;
}

@media screen and (max-width: 650px){
    .solutionSecond  .solution-way {
        width: 37%;
        height: 220px;
        cursor:pointer;
        position:relative;
        float: left;
        box-sizing: border-box;
        margin:30px 10px;
    }
}
@media screen and (max-width: 510px){
    .solutionSecond  .solution-way {
        width: 65%;
        height: 220px;
        cursor:pointer;
        position:relative;
        float: left;
        box-sizing: border-box;
        margin:30px 20px;
    }
}
.solutionSecond .solution-way-img {
    width:100%;
    height:100%;
    position:relative
}
.solution-way .solution-back {
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.1);
    box-sizing: border-box;
}
.solution-way-name {
    position:relative;
    bottom:56px;
    width:100%;
    height:56px;
    background:rgba(0,0,0,.6);
    color:#fff;
    font-weight:400;
    line-height:56px;
    font-size:20px;
    box-sizing: border-box;
}
.solutionSecond ul li.solution-way:hover .solution-back {
    background:transparent
}
/*解决方案的阴影遮罩层*/
.solutionSecond ul li.solution-way:hover .solution-way-name {
    width:100%;
    height:100%;
    margin-top: -163px;
    background:rgba(0,0,0,.6);
    color:#fff;
    font-weight:400;
    font-size:30px;
    line-height:220px;
    text-align:center;
    box-sizing: border-box;
    visibility:visible
}
.solutionSecond .container{
    padding-left: 3%;
}
@media screen and (max-width:666px){
    .solutionSecond .container{
        padding-left: 20%;
    }
    .solutionSecond .container h3{
        font-size: 10px;
        margin: 0;
    }
    .solutionSecond .container li{
        padding: 0;
    }
}
/*第三部分*/
.solutionThird {
    padding: 4% 0;
    background: #ffffff;
}
.solutionThird div p{
    margin: 30px;
    color: #777777;
}
.solutionThird ul li{
    float: left;
    width: 20%;
    height: 80px;
    margin-bottom: 4%;

}
@media screen and (max-width:991px){
    .solutionThird ul li{
        float: left;
        width: 33%;
        margin-bottom: 4%;
    }
}
/********************************************************/
/*申请界面register*/
.register {
    width: 100%;
    height: 100%;
    position: fixed;
    background: url("../img/register/registerbananer.jpg") center center;
    background-size: cover;
    left: 0;
    top: 0;
}
.register h3{
    margin-bottom: 30px;
}
.register form{
    width: 85%;
    margin: 15px auto;
    margin-bottom: 0px;
    /*margin-bottom: 0;*/
    box-sizing: border-box;
}
.register form span{
    display: inline;
    padding: 0;
    margin: 0;
}
.register form div{
    margin-bottom: 15px;
}
.register form .openInput{
    width: 56%;
    margin-bottom: 0;
}

.register form input::-webkit-input-placeholder { /* WebKit browsers */
    color: #999999;
}
.register form input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #999999;
}
.register form input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #999999;
}
.register form input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #999999;
}
.register form div{
    text-align: left;
}
.register form button{
    width: 30%;
    height: 45px;
    padding: 0;
    margin-top: 0;
    background-color: transparent;
    color: #999999;
    border: none;
}
.register form button:hover{
    background-color: transparent;
    color:#197AD8;
    border: none;
}
.register input{
    display: inline-block;
   margin-bottom: 15px;
    height: 45px;
    border-radius: 4px;
    border: 1px solid #1b6d85;
}

/*图片验证码*/
.register .discode{
    text-align: left;
}
.register .discodeInput{
    margin-bottom: 0px;
    margin-right: 5px;
    width: 45%;
    /*margin-left: -7px;*/
}
.register #discode{
    margin-right: 5px;
    display: none;
}

.register button{
   width: 85%;
    height: 48px;
   background-color: #378FE5;
   padding: 10px;
    font-size: 14px;
    color: #ffffff;
    border-radius: 4px;
    box-shadow: none;
    outline: none;
    border: 1px solid #03A9F4;
    margin-top: 10px;
}
.register button:hover{
    background-color: #197AD8;
    box-shadow: none;
    color: #ffffff;
    outline: none;
    border: none;
}
.register>div{
    width: 540px;
    height: 480px;
    box-sizing: border-box;
    padding: 15px 30px;
    text-align: center;
    border: 2px solid #5bc0de;
    border-radius: 8px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -240px;
    margin-left: -270px;
    background: #ffffff;
}

@media screen and (max-width: 650px){
    .register>div{
        width: 360px;
        height: 460px;
        margin-top: -230px;
        margin-left: -180px;
        padding: 20px;
    }
    .register form button{
        width: 48%;
        font-size: 12px;
    }
    .register .discodeInput{
        width: 39%;
        padding: 0 2px;
    }
    .register #discode{
        width: 55px;
    }
    .register h3{
        font-size: 16px;
        margin-bottom: 15px;
    }
    .register button{
        font-size: 14px;
        margin-top: 0;
    }
    .register form .openInput{
        width:48%;
        margin-right: 5px;
        padding-left: 5px;
        margin-bottom: 0;
    }

}
@media screen and (max-width: 450px) {
    .register>div{
        width: 300px;
        height: 400px;
        margin-top: -200px;
        margin-left: -150px;
        padding: 10px;
    }
    .register .discodeInput{
        width: 38%;
        padding: 0 2px;
    }
    .register #discode{
        width: 55px;
        height: 40px;
    }
    .register a{
        font-size: 10px;
    }
    .register h3{
        font-size: 14px;
    }
    .register input{
        height: 40px;
        margin-bottom: 8px;
    }
    .register button{
        margin-top: 5px;
    }
    .register form .openInput{
        margin-bottom: 0;
    }

}


/*************************************************/
/*关于我们页面*/
.aboutBananer{
    height: 750px;
    background:url("../img/about/aboutbananer.png")center center;
    background-size:cover;
}
.aboutBananer .productBananerCenter{
    width: 65%;
    margin: 0 auto;
    margin-top: 150px;
}
.aboutBananer .productBananerCenter h2,
.aboutBananer .productBananerCenter p{
    color: #333333;
}
.about .productSeclct .container div{
    padding: 40px;
}
.aboutus{
    border-bottom: 1px solid #EDEDED;
}
.about .productSeclct .container div h4{
    margin-bottom: 20px;
}
.about .productSeclct .container div p{
    line-height: 34px;
    font-size: 15px;
    margin-bottom: 20px;
    color: #3B3B3B;
}
.about .productSeclct .aboutState h4{
    margin-bottom: 10px;
}
.about .productSeclct .aboutState div{
    padding: 15px 0;
}
.about .productSeclct .aboutState div p{
    line-height: 28px;
    font-size: 14px;
    margin-bottom: 10px;
    color: #3B3B3B;
}
.about .productSeclct>div{
    padding: 30px;
}
.p-b-30{
    margin: 30px 0;
}
.about .productSeclct .aboutus h2{
    font-size: 34px;
    margin: 30px 0;
    margin-bottom: 50px;
}
.location{
    height: 400px;
}
.about .productSeclct .location img{
    width: 90%;
    height: 100%;
}


/**************************************************/
/*登录页面最新设置*/
.landNew{
    width: 100%;
    height: 100%;
    position:fixed;
    left: 0;
    top: 0;
    background-color: #F2F3F5;
}
.landNew .container{
    background-color: #ffffff;
    padding: 0;
    width: 960px;
    height: 760px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -380px;
    margin-left: -480px;
}
.landNew .container .landNewlogo{
    width:50%;
    height: 100%;
    background: url("../img/land/landnew.png") center center;
    background-size: cover;
    padding-top: 200px;
    padding-left:14%;
    box-sizing: border-box;
}
.landNew .container .landNewlogo img{
    width: 220px;
    /*margin-left: 20%;*/
}
.landNew .col-md-6{
    height:100%;
}
.landNew .col-xs-4{
    padding:120px 0px;
}
.landNew .col-xs-4>div{
    width: 70%;
    margin: 0 auto;
}
.landNew label{
    font-weight: 500;
}
.landNew input{
    border: none;
    outline: none;
    padding: 0;
    width: 80%;
    height: 90%;
    padding-left: 25px;
}
.landNew input.domain{
    width: 50%;
}
.landNew form div{
    width: 100%;
    height: 55px;
    line-height:55px;
    margin-bottom: 10px;
    border-bottom: 1px solid #DDDDDD;
    padding: 3px 0;
}
.landNew .col-xs-4 h2{
    display: block;
    width: 120px;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
}
.landNew  button{
    width:100%;
    height: 50px;
    line-height: 50px;
    color: #ffffff;
    padding: 0;
    margin-top: 40px;
    background-color: #378FE5;
}
.landNew  button:hover{
    color: #ffffff;
    background-color: #197AD8;
}
.landNew div.remember{
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    margin-top: 10px;
}
.landNew .rememberPwd{
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #333333;
    vertical-align: middle;
    margin-top: -3px;
}
.landNew div.remember i{
    display: inline-block;
    width: 55%;
}
.landNew div.remember a{
    display: inline-block;
    margin-right: 0px;
}
.landNew .san{
    display: none;
    width: 15px;
    height:15px;
    padding-left: 300px;
    margin-top: -15px;
    margin-bottom: 5px;
}
.landNew s{
    display: block;
    width: 15px;
    height: 15px;
    border-bottom: 12px solid red;
    border-right:12px solid transparent;
    border-left: 12px solid transparent;
}

.landNewhide{
    display: none;
    width:360px ;
    height: 200px;
    border: 1px solid #78B1F6;
    padding: 10px;
    border-radius: 5px;
}
.landNewhide span {
    font-weight: 600;
}
@media screen and (min-width: 992px) and (max-width: 1200px){
    .landNew .container .landNewlogo img{
        margin-left: 2.7%;
    }
    .landNew .col-xs-4{
        width: 50%;
        height:100%;
        margin-top: 80px;
    }
    .landNew div.remember{
     width: 370px;
    }
    .landNew .san{
        padding-left: 280px;

    }
    .landNew input.domain{
        width: 52%;
    }
}

@media screen and (max-width: 991px){
    .landNew .container{
        width: 900px;
        height: 760px;
        margin-top: -380px;
        margin-left: -450px;
    }

    .landNew .container .landNewlogo{
      display: none;
    }
    .landNew .col-xs-4{
        width: 100%;
        height:100%;
        margin-top: 80px;
    }
    .landNew .col-xs-4>div{
        width: 55%;
        margin: 0 auto;
    }
    .landNew input.domain{
        width: 60%;
    }
    .landNew .san{
        padding-left:320px;

    }
    .landNew div.remember i{
        width: 60%;
    }
}
@media screen and (max-width: 600px){
    .landNew .container .landNewlogo{
        display: none;
    }
    .landNew .container{
        width: 580px;
        height: 760px;
        margin-top: -380px;
        margin-left: -290px;
    }
    .landNew .col-xs-4{
        width: 100%;
        height: 100%;
        margin-top: 80px;
    }
    .landNew form div{
        width: 100%;
    }
    .landNew input.domain{
        width:55%;
    }
    .landNew  button{
        width: 100%;
    }
    .landNew .san{
        padding-left:190px;

    }
    .landNew div.remember i{
        width: 50%;
    }
    .landNewhide{
        width:300px ;
        height: 300px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 450px){
    .landNew .container .landNewlogo{
        display: none;
    }
    .landNew .container{
        width: 420px;
        height: 560px;
        margin-top: -280px;
        margin-left: -210px;
    }
    .landNew .col-xs-4{
        width: 100%;
        height: 100%;
        padding: 50px 0;
        margin-top: 20px;
    }
    .landNew form div{
        width: 100%;
    }
    .landNew input.domain{
        width:40%;
    }
    .landNew  button{
        width: 100%;
    }
    .landNew .san{
        padding-left:190px;

    }
    .landNew div.remember i{
        width: 40%;
    }
    .landNewhide{
        width:260px ;
        height: 300px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 350px){
    .landNew .col-xs-4{
        width: 100%;
        height: 770px;
        margin-top:0px;
    }
    .landNew input.domain{
        width:36%;
    }
    .landNew div.remember i{
        width: 30%;
    }
    .landNewhide{
        width:260px ;
        height: 300px;
        margin: 0 auto;
    }
}

.solutionThird .container .col-xs-2{
    width: 20%;
    padding: 0;
}
/*******************************************************************/
/*留言信息设置*/
.words{
    position: fixed;
    width: 70px;
    height: 400px;
    top:50%;
    right: 0;
    margin-top: -200px;
    z-index: 15;
}
.words>div{
    width: 100%;
    /*padding: 14px 11px;*/
    height: 100px;
    text-align: center;
    background-color: #378FE5;
    border-bottom: 1px solid #ffffff;
}
.words .wordsTry{
    border-bottom: none;
}
.telP{
    position: relative;
}
/*.telP:hover .telN{*/
    /*display: block;*/
/*}*/
.telN{
    display: none;
    width: 220px;
    height: 98px;
    font-size: 30px;
    line-height: 98px;
    position: absolute;
    top: 1px;
    left:-220px;
    background-color: #ffffff;
    border: 1px solid #f2f2f2;
}
.telN i{
    position: absolute;
    top: 12px;
    left: 135px;
    width: 10px;
    display: block;
    border-left: 10px solid #ffffff;
    border-top:10px solid transparent;
    border-bottom:10px solid transparent;
}

.words>div:hover{
    background-color: #197AD8;
    cursor: pointer;
}
.words>div:before{
    content: "";
    display: table;
}
.words>div p{
    color: #ffffff;
    font-size: 12px;
}
.words a{
    display: none;
    background-color: #DBDBDB;
    font-size: 12px;
    text-align: center;
    color: #666666;
}
.words a i{
    margin-left: 29px;
    /*margin-top: 10px;*/
    width: 6px;
    display: block;
    border-bottom: 6px solid #666666;
    border-left:6px solid transparent;
    border-right:6px solid transparent;

}
.msg{
    display: block;
    width: 32px;
    height: 32px;
    margin-top: 21px;
    margin-left: 19px;
    background: url("../img/msg1.png");
}
.tel{
    display: block;
    width: 32px;
    height: 32px;
    margin-top: 21px;
    margin-left: 19px;
    background: url("../img/tel1.png");
}
.demo{
    display: block;
    width: 32px;
    height: 32px;
    margin-top: 21px;
    margin-left: 19px;
    background: url("../img/demo.png");
}
.try{
    display: block;
    width: 32px;
    height: 32px;
    margin-top: 21px;
    margin-left: 19px;
    background: url("../img/try3.png");
}

@media screen and (max-width: 992px){
    .words{
      display: none;
    }
}

/*******************************/
/*产品页面二级导航*/
.navlist{
    display: none;
    position: fixed;
    top:53px;
    left: 0;
    z-index: 10000;
    background-color: #ffffff;
    height: 215px;
    width: 100%;
}
.navlist a:hover{
    color: #197AD8;
}
.navlist .navlist_s{
    width: 70%;
    margin: 0 auto;
    padding: 20px 50px;
}
.navlist .navlist_s li{
    margin-bottom: 8px;
}
.navlist .navlist_s .navlistFirli{
    position: relative;
    width: 120px;
    margin-bottom: 120px;
}
.navlist .navlist_s .navlistSedli{
    position: relative;
    width: 120px;
}
.navlistSedli ul{
    position: absolute;
    top: 0;
    left: 120px;
    width: 500px;
}
.navlistSedli ul li a{
    font-size: 14px;
}
.navlistFirli ul{
    position: absolute;
    top: 0;
   left:120px;
}
.momayun{
    position: relative;
    top: 0;
    left:0px;
    width: 98px;
}
.momayun ul{
    position: absolute;
    top: 0;
    left:103px;
    width: 700px;
}
.navlistSedli ul li{
    float: left;
    width: 98px;
    margin-right: 5px;
}
.momayun ul li{
    float: left;
    width: 98px;
    margin-right: 5px;
}
.momayun  a{
    font-size: 14px;
}

@media screen and (min-width: 992px){
    .indexNavbarsecond{
        display: none;
    }
}
@media screen and (max-width: 992px) {
    .navlist{
        display: none;
    }
}




